@import url(https://db.onlinewebfonts.com/c/ae7951c47ee13ee1f50d9cde9da242ee?family=Google+Sans);
@import url(https://db.onlinewebfonts.com/c/0e00b32e02d1a4fb9a65ecbe64f04589?family=RobotoDraft);
@import url(https://db.onlinewebfonts.com/c/0033a2fbc0329740fb86c1cfd134cb94?family=Roboto);


*, *::before, *::after {
  font-family: "Google Sans", "RobotoDraft", "Roboto", Arial, Helvetica, sans-serif;
    box-sizing: content-box;
  }

  body {
    
    padding: 0;
    background-color: rgba(234, 241, 251, 1);
    margin: 0;
  }
  
  :root {
    --light-gray: #f8f9fa;
    --middle-gray: #e9ecef;
    --dark-gray: #495057;
    --light-blue: rgb(202, 229, 250);
  }
  

  p {
    cursor: pointer;
  }
  
  section {
    height: 100vh;
    display: grid;
    font-family: "Google Sans", "RobotoDraft", "Roboto", Arial, Helvetica, sans-serif;
    grid-template-areas: "header header header" "nav main-content sidebar" "nav main-content sidebar";
    grid-template-columns: 109px 4fr 50px;
    grid-template-rows: 70px 1fr;
    background-color: rgba(234, 241, 251, 1);
  }
  
  header,
  aside,
  footer{
    padding: 20px;
  }
  
  header {
    grid-area: header;
  }
  nav {
    grid-area: nav;
  }
  main {
    grid-area: main-content;
  
  }
  aside {
    grid-area: sidebar;
  }
  
  footer {
    grid-area: footer;
  }
  
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  ion-icon {
    cursor: pointer;
    font-size: 20px;
  }
  
  .hover:hover {
    transition: all 0.3s;
    background-color: #d8dbdd;
    border-radius: 20px;
    cursor: pointer;
    transform: scale(1.03);
  }

  .hoverer {
    transition: all 0.3s;
    background-color: #d8dbdd;
    width: 50px;
    border-radius: 20px;
    padding-left: 10px;
    cursor: pointer;
    transform: scale(1.03);
  }

  .left-area img:hover {
    cursor: pointer;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    padding: 8px;
  }
  
  .menu .icon {
    height: 2px;
    width: 20px;
    background-color: #464f58;
    margin: 2px 0;
  }
  
  .mail-text {
    font-size: 20px;
    letter-spacing: 0.7px;
    color: var(--dark-gray);
  }
  
  .mail-text:hover {
    cursor: pointer;
  }
  
  .search {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px;
    border-radius: 10px;
    background-color: var(--middle-gray);
  }

  .left-area {
    flex: 1;
  }
  
  .middle-area {
    flex: 3;
  }
  
  .right-area {
    flex: 1;
    padding: 10px;
    gap: px;
  }
  
  .right-area ion-icon {
    width: 22px;
    height: 22px;
    color: var(--dark-gray);
    padding: 8px;
    border-radius: 50%;
  }
  
  .right-area img {
    border-radius: 50%;
    height: 36px;
    object-fit: contain;
  }
  
  .right-area img:hover {
    cursor: pointer;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(246, 248, 252, 1);
    box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
  }
  
  
  header .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    height: 20px;
    
  }

 i {
  cursor: pointer;
 }


  header i ion-icon {
    transition: all 0.3s;
    width: 20px;
    height: 20px;
    color: var(--dark-gray);
    padding: 8px;
    border-radius: 50%;
    
  }

  header .search {
    display: flex;
    padding: 7px 12px;
    width: 45%;
    background-color: rgba(234, 241, 251, 1);
    color: rgba(120, 122, 123, 1);
    border-radius: 25px;
    border: 1px;
    justify-content: space-between;
    margin-left: 90px;
    font-size: 18px;
  }

  .search input {
    background-color: rgba(234, 241, 251, 1);
    border: none;
    margin-left: 14px;
    width: 100%;
    outline: 0;
  }

  .search input::placeholder {
    color: #b1b1b1;
  }

  .active-button {
    margin-right: 10px;
    background-color: rgba(234, 241, 251, 1);
    color: black;
    border: 1px;
    padding: 10px;
    padding-right: 5px;
    border-radius: 20px;
    margin-bottom: 5px;
    font-size: 15px;
    position: relative;
    font-family: inherit;
    
  }

  .active-button i {
    font-size: 15px;
    background-color: green;
    border-radius: 25px;

  }

  .active-button span .ion {
    margin-top: 7px;
    position: absolute;
    top: 19px;
    margin-left: 5px;
  }
  

  .profile-image {
    width: 30px;
    padding-top: 0;
border-radius: 50%;
margin-left: 19px;
margin-right:5px;
margin-bottom: 10px;
  }

  .gmail-icon {
    margin-left: 106px;
  }

  .i-class {
    font-size: 20px;
    margin-left: 15px;
    
}

.i-class:hover {
  background-color: #d8dbdd;
  transform: scale(3.03);
  border-radius: 20px;
  box-shadow: 2px 2px #d8dbdd;
}

.i-class-a {
  font-size: 22px;
  margin-left: 10px;
  margin-right: 70px;
}

.i-class-b {
  padding-right: 68px;
}


/* nav {
  background-color: rgba(234, 241, 251, 1);
}
 */
  .nav_container {
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    padding: 12px;
    gap: px;
    display: none;
    font-size: 15px;
    background-color: z;
  }

  

  .nav_top {
    margin-top: 52px;
    font-size: 15px;
  }

  .nav_top button {
    border: none;
    outline: none;
    margin-bottom: 20px;
    cursor: pointer;
  transition: all 0.9s;
  transform: scale(1.03);
  }
  
  .nav_top button{
    background-color: var(--light-blue);
    display: flex;
    justify-content: space-between;
    padding: 10px 32px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 20px;
 
  }
  
  .nav_top span ion-icon {
    font-size: 24px;
  }
  
  .nav_middle ul li {
    font-size: 13px;
    list-style: none;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 8px;
  }
  
  .nav_middle ul li a {
    display: flex;
    gap: 12px;
    letter-spacing: 1px;
    color: black;
    text-decoration: none;
    font-size: 15px;
  }
  
  .nav_middle ul li a ion-icon,
  .nav_bottom ion-icon {
    width: 18px;
    height: 18px;
  }
  
  
  ul li:last-child {
    margin-bottom: 0;
  }
  
  .nav_middle ul li:first-child {
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #e7f5ff;
  }
  
  .nav_middle ul li:first-child span {
    margin-right: 8px;
    font-size: 15px;
  }
  
  .nav_middle ul li:first-child a,
  .nav_middle ul li:first-child span {
    font-weight: 600;
    color: #000;
  }
  
  .nav_middle ul li:hover {
  cursor: pointer;
  transition: all 0.9s;
  transform: scale(1.03);
 
  }

 
  
  .nav_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  
 
  .plus {
border-radius: 50%;
margin-left: 150px;
font-size: 25px;
  }
  
  .main_content {
    margin-top: 10px;
    margin-bottom: 10px;
   height: 100%;
    background-color: rgba(234, 241, 251, 1);
    overflow: scroll;
    margin-right: -50px;
    width: 100%;
    border-radius: 25px;
    padding-right: 0px;
    margin-left: 0px;
    overflow-x: hidden;
  }
  
  .main_content footer {
    margin-top: 30px;
    margin-bottom: 70px;
  }

  .main_content footer .button {
    border: 1px solid black;
    background-color: #fff;
    color: black;
    width: 170px;
    margin-left: 20px;
    border-radius: 40px;
    height: 50px;
  }

  .main_content footer .smile {
  padding: 10px;
  margin-left: 10px;
  border-radius: 70px;
  padding-bottom: 3px;
  background-color: #fff;
  border: 1px solid black;
  color: gray;
  }

  .content-icon,
  .star {
    transition: all 0.3s;
    width: 16px;
    height: 16px;
    color: var(--dark-gray);
    padding: 8px;
    border-radius: 50%;
  }
  
  .chev {
    color: #b1b1b1;
  }

  ::-webkit-scrollbar {
    display: none;
}
  
  .main_content .top {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    color: var(--dark-gray);
    border-bottom: 1px solid #f9f7f7;
    padding-left: 25px;
    position: fixed;
    width: 90%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    top: 50;
    height: 100;
  }

  .main_content .promotions {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 900;
    padding: 20px;
  }

  .navel {
    position: fixed;
top: 70px;
height: 100vh;
background-color: rgba(246, 248, 252, 1);
box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
z-index: 25;
transition: 0.5s; 
font-family: inherit;
margin-left: 0px;
padding: 14px;
font-size: 15px;
  }

  .nav-container i {
    font-weight: 600;
    margin-left: 10px;
    font-size: 20px;
  }

.bi-list {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .gmail-icon {
    margin-bottom: 0;
  }

  .mail-chat {
    margin-left: 5px;
  }

  .mail-chat-1 {
    padding-right: 10px;
  
  }

.nav  .nav-container {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
  }

  .promotions1 {
    padding: 0;
  }

  .promotions  .promotions-item-1 {
    padding-right: 20px;
    display: flex;
    gap: 20px;

  }

 .promotions-item {
  padding: 10px;
  padding-right: 80px;
  padding-left: 30px;
margin-top: 40px;
margin-top: 50px;
 }

 .promotions-item .four {
  background-color: lightgreen;
  border-radius: 30px;
  padding: 7px;
  font-size: 15px;
 }

 .promotions1 .promotions-item1 {
  display: flex;
  align-items: center;
  justify-content: center;
 }

 
  .messages:hover {
    cursor: pointer;
    box-shadow: 0px 1px 4px 0.2px rgba(0, 0, 0, 0.2);
  }
  
  .check
   {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: relative;
  }
  
  
  
  .sort_numbers {
    transition: all 0.3s;
    padding: 8px;
    border-radius: 6px;
  }
  
  .main_content .top .right,
  .main_content .top .left,
  .main_content .messages .messages_left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-weight: 900;
  }
  
  .messages_area {
    height: auto;
    overflow: hidden;
    background-color: white;
  }

  .messages_content {
    font-weight: 750;
  }

  .messages_left .span-1 {
    font-weight: 1000;
  }
  
  .messages {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 0.8px solid #ced4da;
    color: var(--dark-gray);
    padding-left: 25px;
  }

  .messages1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .messages1 .coming {
    width: 644px;
    height: 604px;
    background-color: #fff;
    border-left: 1px solid #b1b1b1;
    border-right: 1px solid #b1b1b1;
    text-align: center;
    line-height: 2.2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .messages1 .coming h4{
    padding: 30px;
    color: green;
  }

  .messages1 .coming1 h3  {
    margin-bottom: 40px;
   color: rgba(2, 78, 15, 1);
  }

  .messages1 .coming1 {
    width: 644px;
    height: 904px;
    background-color: rgba(224, 241, 225, 1);
    border-left: 1px solid #b1b1b1;
    border-right: 1px solid #b1b1b1;
    text-align: center;
    line-height: 2.2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
  }

  .messages1 .coming1 button {
    margin-top: 40px;
    border-radius: 30px;
    width: 50%;
    margin-left: 140px;
    background-color: rgba(23, 135, 51, 1);
    color: white;
  }

  .messages1 .coming2 {
    width: 644px;
    height: 644px;
    background-color: #fff;
    border-left: 1px solid #b1b1b1;
    border-right: 1px solid #b1b1b1;
    text-align: center;
    line-height: 2.2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
   
  }

  .messages1 .coming2 .coming2-1 {
    background-color: rgba(250, 250, 250, 1);
    padding: 50px;
    border-radius: 30px;
  }

  .messages1 .coming2 .coming2-1  h4{
    margin-bottom: 50px;
  }

  .messages1 .coming2 .coming2-1  h5 {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .messages1 .coming3 {
    width: 644px;
    height: 250px;
    background-color: rgba(224, 241, 225, 1);
    border-left: 1px solid #b1b1b1;
    border-right: 1px solid #b1b1b1;
    text-align: center;
    line-height: 2.2;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(23, 135, 51, 1);
  }

  .messages1 .coming3 h6, .coming4 h6 {
    padding: 20px;
    color: rgba(23, 135, 51, 1);
  }

  .messages1 .coming4 {
    width: 644px;
    height: 410px;
    background-color: rgba(224, 241, 225, 1);
    border-left: 1px solid #b1b1b1;
    border-right: 1px solid #b1b1b1;
    border-bottom: 1px solid #b1b1b1;
    text-align: center;
    line-height: 2;
    padding: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px; 
  }

  .check_2 span {
    position: absolute;
    left: 5px;
  }

  
  
  .messages_left ion-icon:hover {
    color: #000;
  }

  .aside {
    background-color: rgba(234, 241, 251, 1);
    height: 100%;
    
  }
  
  .aside_icons {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
   margin-left: 0px;
    width: 30%;
  }
  
  .aside_icons img {
    transition: all 0.3s;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    width: 42px;
    height: 42px;
  }
  
  .aside_icons span {
    height: 2px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--middle-gray);
  }
  
  .aside_icons ion-icon {
    transition: all 0.3s;
    width: 20px;
    height: 20px;
    color: var(--dark-gray);
    padding: 8px;
    border-radius: 50%;
  }
  
  .aside_icons div:last-child {
    margin-top: auto;
  }

.icon-a {
  font-size: 20px;
  margin-left: 30px;
}

/* FORM */

.signupFrm {
  display: flex;
  
  height: 500px;
  z-index: 7;
  display: none;
}


.form {
  background-color: white;
  width: 400px;
  height: 500px;
  border-radius: 20px;
  padding: 0px 0px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.title {
  font-size: 20px;
  margin-bottom: 50px;
}

.inputContainer {
  position: relative;
 font-size: 20px;
  display: flex;
  margin-left: 0px;
  margin-top: 27px;
 line-height: 2.5;
  font-family: inherit;
}

.formEl {
  width: 400px;
  height: 500px;
  border-radius: 20px;
  background-color: black;
  
}

.inputContainer ul {
  list-style-type: none;
}

.icon-a {
  margin-left: 150px;
}

.icon-c {
  margin-left: 200px;
}

.inputContainer ul a {
  text-decoration: none;
  color: black;
}

.inputContainer ul li a i {
  margin-left: 20px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}


.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #030303;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

::placeholder {
  color: transparent;
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: purple;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.submitBtn:hover {
  background-color: #9867C5;
  transform: translateY(-2px);
}
.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: purple;
}

.input:not(:placeholder-shown)+ .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.input:focus {
  border: 2px solid purple;
}


.container {
 
  display: none;
}

h1 {
  margin-top: 0;
}

.formId {
  margin-top: 30px;
  margin-left: 2px;
  background-color: rgba(246, 248, 252, 1);
  width: 400px;
  height: 500px;
  border-radius: 20px;
}

.container-1 {
  display: flex;
  padding: 10px;
  font-size: 20px;
  width: 100%;
  background-color: rgba(234, 241, 251, 1);
  height: 10%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.container-1 button {
  border: none;
  background-color: rgba(234, 241, 251, 1);
}

.container-1 button:hover {
  background-color: rgba(128, 128, 128, 0.619);
}

.container-2 a{
  text-decoration: none;
}

.formId-1 {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.composer-container {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 40;
  display: none;
}

.message-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  resize: vertical;
}

.send-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
